<!-- View: ManageAuthors.cshtml -->
@model IList<Domain.Models.Author>
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<h2>Manage Authors</h2>
<a href="@Url.Action("Create", "Author")" class="btn btn-primary">Add New Author</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>@author.BirthDay.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="@Url.Action("Edit", "Author", new { id = author.AuthorId })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", "Author", new { id = author.AuthorId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

